@charset "utf-8";

$primary-500: #607d8b;
$primary-600: #546e7a;
$primary-700: #455a64;

@import "../node_modules/@picocss/pico/scss/pico.scss";

.autowidth {
  width: auto;
}

@media (min-width: 576px) {

  body > main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {

  body > main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {

  body > main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {

  body > main {
    padding: 2rem 0;
  }

  article div {
    padding: 2rem;
  }
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}

.alert-danger {
  @extend .alert;
  background-color: red;
}

.alert-warning {
  @extend .alert;
  background-color: goldenrod;
}

.alert-success {
  @extend .alert;
  background-color: green;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
